@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

/*---- default settings ----*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

.icon,
.icon-text {
    color: #79ccab;
}

#icon {
    color: #79ccab;
}

.icon-text:hover {
    color: #28a745;
}

.text-success {
    color: #79ccab !important;
}

/*---- header section ----*/

#header-section {
    background: linear-gradient(-60deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url("../img/featured-bg.jpg") no-repeat;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

/* .navbar-nav {
    position: fixed;
    z-index: 30;
} */

#header-section a {
    color: #fff;
}

#header-section a:hover {
    color: #79ccab;
}

/*---- founder section ----*/

#founder-section {
    margin-bottom: 100px;
    background-color: rgb(252, 252, 252);
}

.founders-head img {
    width: 100px;
    height: 100px;
}

/*---- random-display section ----*/

.random-display img {
    width: 100%;
}

/*---- bottom-navigation section ----*/

.about-us,
.contact-info {
    width: 80%;
}

.about-us h3,
.contact-info h3 {
    padding-bottom: 1.2em;
}

.about-us-text p {
    font-size: 18px;
    line-height: 30px;
}

.about-link {
    margin: 40px 0 70px;
}

.about-link a {
    text-decoration: none;
    padding: 10px 30px;
    border: 2px solid #79ccab;
    background-color: #79ccab;
    cursor: pointer;
}

.about-link a:hover {
    background-color: transparent;
    border: 2px solid #fff;
    transition: all ease-in-out 0.6s;
}

.contact-info-head h3 {
    padding-left: 1.6em;
}

.contact-info-content ul .contact-list li {
    list-style: none;
}
