@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

/*---- default settings ----*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

.icon,
.icon-text {
    color: #79ccab;
}

#icon {
    color: #79ccab;
}

.icon-text:hover {
    color: #28a745;
}

.text-success {
    color: #79ccab !important;
}

/*---- header section ----*/

#header-section {
    background: linear-gradient(-60deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url("../img/featured-bg.jpg") no-repeat;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

#header-section a {
    color: #fff;
}

#header-section a:hover {
    color: #79ccab;
}

/*---- contact section ----*/

textarea {
    height: 200px;
}

#submit {
    background-color: #79ccab;
    color: #fff;
}

#submit:hover {
    color: #79ccab;
    background-color: #fff;
}

/*---- bottom-navigation section ----*/

.about-link a {
    background-color: #79ccab;
    cursor: pointer;
}

.about-link a:hover {
    background-color: transparent;
    transition: all ease-in-out 0.6s;
}
