@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

/*---- default settings ----*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

.icon {
    color: #79ccab;
}

#icon {
    color: #79ccab;
}

.icon:hover {
    color: #28a745;
}

.swiper-wrapper {
    margin-bottom: 4em;
}

.card-border {
    border: none;
}

.black-text {
    color: #000;
}

.list-styling {
    list-style: none;
}


/*---- header section ----*/

#header-section {
    background: linear-gradient(-60deg, rgba(10, 10, 10, 0.6), rgba(0, 0, 0, 0.1)), url("../img/hero-bg.jpg") no-repeat;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;

}

/* .navbar-nav {
    position: fixed;
    z-index: 30;
} */

#header-section a {
    text-decoration: none;
}

#hero-section h2 {
    font-family: 'Indie Flower', cursive;
    padding-top: 1.5em;
}

/*---- outreach section ----*/

.outreach-icon {
    margin-right: 2em;
}

.outreach-icon svg {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.outreach-content a {
    text-decoration: none;
}

/*---- features section ----*/

#featured-section {
    background: url("../img/featured-bg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 630px;
    position: relative;
}

.feature-background {
    position: absolute;
    content: "";
    background: #28a745;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .9;
}

/* .features {
    padding: 60px 0;
} */

.feature-link a {
    text-decoration: none;
    padding: 10px 30px;
    border: 2px solid #79ccab;
    background-color: #79ccab;
    cursor: pointer;
}

.feature-link a:hover {
    background-color: transparent;
    border: 2px solid #fff;
}

.feature-image {
    padding-bottom: 100px;
}

.feature-image img {
    width: auto;
    height: auto;
    margin-left: 30px;
    border: 10px solid #fff;
}

/*---- fundraiser section ----*/

.fund-head p {
    padding-bottom: 70px;
}

.card {
    box-shadow: 0 0 40px -10px rgb(0 0 0 / 10%);
}

#card-footer {
    background-color: transparent;
    border: none;
}

/*---- donations section ----*/

#donations-section {
    height: auto;
    padding-bottom: 2em;
}

.donor-head img {
    width: 100px;
    height: 100px;
}

.donor-info p {
    font-size: 14px;
    color: #b3b3b3;
}

.donated-amount .donated {
    width: 50%;
    background-color: #f2f2f2;
}

.donated-amount .amount {
    width: 50%;
    background-color: #28a745;
}

/*---- success section ----*/

#success-section {
    background: url("../img/success-bg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 630px;
    position: relative;
    margin-top: 70px;
}

.success-background {
    position: absolute;
    content: "";
    background: #28a745;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .9;
}

.success {
    padding: 80px 0 0;
}

.success-image {
    border: 10px solid #fff;
}

.success-link a {
    text-decoration: none;
    padding: 10px 40px;
    border: 2px solid #79ccab;
    background-color: #79ccab;
    cursor: pointer;
}

.success-link a:hover {
    background-color: transparent;
    border: 2px solid #fff;
}

/*---- news section ----*/

.date {
    position: relative;
    display: block;
    color: #fff;
}

.date span {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    background: #79ccab;
    color: #fff;
    font-size: 14px;
}

.date:hover span {
    background-color: #000;
    font-size: 16px;
    transition: all ease-in-out 0.3s;
}

.news-title a {
    text-decoration: none;
}

.news-title a:hover {
    color: #79ccab;
}

.news-text p {
    font-size: 18px;
    color: #999;
}

.news-link {
    margin-bottom: 30px;
}

.news-link a {
    text-decoration: none;
}

/*---- bottom-navigation section ----*/

#bottom-navigation-section {
    background-color: #404040;
}

.navigations {
    padding: 100px 0;
}

.about-us,
.contact-info {
    width: 80%;
}

.about-us h3,
.contact-info h3 {
    padding-bottom: 1.2em;
}

.about-us-text p {
    font-size: 18px;
    line-height: 30px;
}

.about-link {
    margin: 40px 0 70px;
}

.about-link a {
    text-decoration: none;
    padding: 10px 30px;
    border: 2px solid #79ccab;
    background-color: #79ccab;
    cursor: pointer;
}

.about-link a:hover {
    background-color: transparent;
    border: 2px solid #fff;
}

.contact-info-head h3 {
    padding-left: 1.6em;
}

.contact-info-content ul .contact-list li {
    list-style: none;
}

/*---- footer section ----*/

footer {
    background-color: rgb(53, 50, 50);
}
